@media (max-width:499px){
    td{
        font-size: 12px;
    }
    tr{
        font-size: 12px;
    }

}
input[type='text'] {
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }
td{
    color: rgb(78, 78, 78);
}
.row-3{
    display: flex;
}
.div1{
    flex: 1;
}
.row-6 {
    margin-bottom: 10px;
}
.div2{
    flex: 1;
    text-align: right;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}
.btn {
    color: black;
    background-color: pink;
    border: 0;
}
.show{
    background-color: white;
    color: black
}
.btn:hover{
    background-color: deeppink;
    color: white;
}

.page-link {
    color: black;
}
.page-link:hover{
    color: pink;
}
.page-link:active :visited{
    background-color: pink;
    color: white;
}
.active>.page-link {
    background-color: pink;
    color: white;
    border: 1px solid pink;
}
