.main{
    text-align: center;
    align-items: center;
}
.main_box_inline{
    display: flex;
    margin: 0 auto;
}
.main-box_1{
    margin: 0 auto;
}
.main-box_2{
    margin: 0 auto;
}

img{
    width: 450px;
    height: 450px;
}
@media (max-width: 1024px){
   img{
    width: 400px;
    height: 400px;
   }
}
@media (max-width: 768px){
 img{
    width: 350px;
    height: 350px;
 }
}
@media (max-width:500px){
    .main_box_inline{
        display: block;
        margin: 0 auto;
    }
}

.main-text {
    margin-top: 100px;
}

.main-page {
    margin: 0 auto;
}
.main-box {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    width: 95%;
    
    max-width: 700px;
    padding: 20px;
}
.main-btn {
    background-color: white;
    border-radius: 10px;
}