.main{
    text-align: center;
    align-items: center;
}
.main-text {
    margin-top: 100px;
}
.main-page {
    margin: 0 auto;
}
.main-box {
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    width: 95%;
    height: 500px;
    max-width: 500px;
    padding: 20px;
}
.main-box_1{
    display: inline-block;
}
.main-box_2{
    display: inline-block;
    padding-left: 10px;
}
.main-btn {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}