input:focus {
  outline: none;
}

@media (max-width:500px) {
  #rlc{
    width: 300px;
    height: 300px;
  }
}
.btn{
  color: black;
        background-color: pink;
        border: 0;
}
.btn:hover{
  background-color: deeppink;
  color: white;
}
input[type='text'] {
  width: 300px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
.ladder_main {
  margin: 100px auto;
  text-align: center;
}
.main_btn {
  border: 2px;
  margin-left: 20px;
  background-color: black;
  color: white;
}
.ladder_spin {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: 0 auto;
}
.ladder {
  max-height: 600px;
  width: 95%;
  min-height: 200px;
  max-width: 400px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 20px;
}
@media (max-width:500px){
  .ladder {
    width: 300px;
    
  }
  input[type='text'] {
    width: 220px;
}
}
.main_ladder_btn {
  background: deepskyblue;
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.p_tag {
  display: flex;
  justify-content: center;
}
.ladder_btn {
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  font-size: 14px;
  height: 30px;
  margin-left: auto;
  margin-right: 30px;
}
.ladder_p_tag {
  margin: 0 auto;
}
