.ladder_main {
    margin: 100px auto;
    text-align: center;
}
.main_btn{
    border: 2px;
    margin-left: 20px;
    background-color: black;
    color: white;
}
.ladder_spin{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
}
.ladder {
    max-height: 600px;
    width: 400px;
    min-height: 200px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 20px;
}
.main_ladder_btn {
    background: deepskyblue;
    margin-top: 1rem;
    padding: .8rem 1.8rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.p_tag {
    display: flex;
    justify-content: center;
}
.ladder_btn {
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    font-size: 14px;
    height: 30px;
    margin-left:auto;
    margin-right: 30px;
}
.ladder_p_tag {
    margin: 0 auto;
}