.user_page{
  text-align: right;
}

.user_information{
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid pink;
    padding:0 1em;

}
.user_function {
    margin-top: 20px;
    float: right;
}
.user_btn {
    display: block;
    width: 230px;
    height: 100px;
}

.user_btn{
  text-decoration-line : none;
    background:#fff;
    color:black;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.user_btn:hover{
    background:black;
    color:#fff;
  }
.user_btn:before, .user_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: black;
    transition:400ms ease all;
  }
.user_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .user_btn:hover:before,.user_btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  