<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/js/navbar.js" defer></script>
    <script src="/static/js/board_detail.js" defer></script>
    <link rel="stylesheet" href="/static/css/font.css">
</head>

<body>
    <main-nav-bar></main-nav-bar>
    <br>
    <br>
    <div class="container my-3">
        <!-- 게시글 -->
        <h2 class="border-bottom py-2">{{ board.title }}</h2>

        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">{{ board.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2">
                        {{ board.datetime|datetime }} | {{ board.user }} | {{board.user_email}}
                    </div>
                </div>
            </div>
        </div>
        <!-- 댓글 목록 -->
        <h5 class="border-bottom my-3 py-2">{{ board.comment_set|length }}개의 댓글이 있습니다.</h5>
        {% for comment in board.comment_set %}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">{{ comment.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2">
                        {{ comment.datetime|datetime }} | {{ comment.user }} | {{comment.user_email}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- 댓글 등록 -->
        <form action="{{ url_for('comment.create', board_index=board.index) }}" method="post" class="my-3" enctype = "multipart/form-data">        
            {{ form.csrf_token }}
            <!-- 오류표시 Start -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items() %}
                <strong>{{ form[field].label }}</strong>
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            {% endif %}
            <!-- 오류표시 End -->
            <div class="mb-3">
                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
                <input type="hidden" id="login_name" name="login_name" value="{{ login_name }}">
                <input type="hidden" id="login_email" name="login_email" value="{{ login_email }}">
            </div>
            <input type="submit" value="댓글 등록" class="btn btn-primary">
            <a href="{{ url_for('board._list') }}" class="btn btn-secondary" style="float: right">돌아가기</a>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

<!-- 
<h1>{{ board.title }}</h1>
<div>
    {{ board.content }}
</div>

<h5>{{ board.comment_set|length }}개의 답변이 있습니다.</h5>
<div>
    <ul>
    {% for comment in board.comment_set %}
        <li>{{ comment.content }}</li>
    {% endfor %}
    </ul>
</div>

<form action="{{ url_for('comment.create', board_index=board.index) }}" method="post">
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form> -->