<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/static/css/user_page.css" rel="stylesheet">
    <script src="/static/js/change_pw.js" defer></script>


    <!--jquery cookie를 사용하기 위해 head영역에 둬야함.-->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" defer></script>
    

</head>
<body>
    <main-nav-bar></main-nav-bar>
    <div class="mt-5 pt-5"></div>
    <div class="user_page">
        <div class="form-group">
            <label>현재 ID</label>
            <input type="email" class="form-control" aria-describedby="emailHelp"
                   id="email" placeholder="">
        </div>
        <div class="form-group">
            <label>현재 비밀번호</label>
            <input type="email" class="form-control" aria-describedby="emailHelp"
                   id="password" placeholder="">
        </div>
        <div class="form-group">
            <label>변경할 비밀번호</label>
            <input type="email" class="form-control" aria-describedby="emailHelp"
                   id="password2" placeholder="">
        </div>
        <button type="submit" onclick="change_pw()" class="btn btn-primary">비밀번호 변경하기</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>